.container{
    padding-bottom: 50px;
}
img{
    max-height: 500px;
    display: inline-block;
}

.mapadetail{
    margin-right: 100px;
    width: 78vw;
    height: 30vw;
    z-index: 1;
    
}

.marker{
    z-index: -1;
}