.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  width: 100%;
  & > div > img{
    height: 100%;
    object-fit: cover;
  }
}

.container-text-about {
  background: linear-gradient(179deg, #7dbd293b, transparent);
  padding: 3em 3em;
}

.text{
  // padding:0 2em;
  margin-block-start: 1em;
}


@media (min-width: 320px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > div{
      height: 300px;
    }
    & img, div{
      border-radius: 6px;
      width: 100%;
    }

    & > div:nth-child(3){
      order: 4;
    }

    & > div:nth-child(2){
      // height: 310px;
    }
    
    & > div:nth-child(3){
      // height: 310px;
    }
  }
  .container-text-about{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    margin-top: -310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-bottom: 3px;
  }
}