.loginContainer{
	background-image: url('../../assets/banner_turismo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.title{
		margin-bottom: 1rem;
	}

	.form{
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 350px;

		& > input {
			border: none;
			border: solid 1px rgb(155, 155, 155);
			border-radius: 5px;
			padding: 0.7rem 1rem;
			font-size: 1rem;
		}
		.btnRegister,
		.btnSubmit,
		.btnGoogle{
			border: solid 1px rgb(155, 155, 155);
			border-radius: 5px;
			padding: 0.7rem 1rem;
			font-size: 1rem;
			color: white;
			font-weight: 700;

			&:hover{
				cursor: pointer;
				opacity: 0.8;
			}
		}

		.btnSubmit{
			background-color: rgb(78, 161, 255);	
		}

		.btnGoogle{
			background-color: rgb(253, 168, 31);
		}
		.btnRegister{
			background-color: rgb(253, 168, 31);
			margin-left:32%;
		}
	}
}
.label{
	display:flex;
	justify-content: center;
	align-items: center;
}
