.active {
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
}

.container {
  position: fixed;
  padding: 1rem 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // background: transparent;

  p {
    // color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      display: inline-block;
      padding-left: 0;
      padding-right: 1.5rem;
      
      a, button {
        // color: rgba(255, 255, 255, 0.8);
        font-weight: bold;
        font-size: 1em;
        border: none;
        background-color: transparent ;
    
        &:hover {
          cursor: pointer;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}