
.faClose {
  cursor: pointer;
  transform-origin: bottom;
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.faBars {
  cursor: pointer;
  transform-origin: top;
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.navbar {
  position: fixed;
  padding: 0.2rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  height: 2.5rem;
}
  
.menuIcon {
  display: none;
  font-size: 2rem;
}

.menuList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  li a {
    color: #fff;
    font-weight: 300;
    padding: 5px 10px;
    
    &:hover {
      border-radius: 2px;
      transition: all 0.5s ease-in-out;
    }
  }
}

@media (max-width: 800px) {
  .menuList li a {
    font-size: 1rem;
    color: #fff;
  }
}

@media (max-width: 600px) {
  .menuIcon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #fff;
  }
  .menuList {
    flex-direction: column;
    width: 100%;
    position: absolute;
    // background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    right: 0;
    top: 2.5rem;
    transition: all 0.5s ease-in-out;

    li {
      width: 100%;
      text-align: center;
      margin: auto;
      
      a {
        width: 10rem;
        color: #fff;
        display: block;
        margin: auto;
      }
    }
  }
}

.menuListClose {
  right: -100%;
  transition: all 0.5s ease-in-out;
}

.navbar.scroll {
  background: rgba(0, 0, 0, 0.7);
  .menuList li a{
    color: #fff;
  }

  @media (max-width: 600px) {
    background: rgba(0, 0, 0, 0.7);
    .menuList {
      background: rgba(0, 0, 0, 0.7);
    }
  }
}