.frameCardTitle{

}
.frameCardContainerPrice{
    display: flex;
    align-items: center;
    gap: 1px;
    & > span:nth-child(1){
        font-size: 1.5em;
        color: rgb(74, 211, 50);
    }
    & > span:nth-child(2){
        font-size: 1.5em;
    }
}
.frameCardContainerType{
    display: flex;
    font-size: .9em;
    font-weight: bold;
    color: rgb(141, 140, 140);
}

.frameCard{
    background: #fff;
    display: flex;
    width: 100% ;
    border-radius: 11px;
    gap: 1em;
    box-shadow: 2px 2px 4px 3px #333;  //rgb(247,148,29)
    box-sizing: border-box;
    height: 240px;
}
.frameCardLocation{
    // margin-left: 17%;
    display:flex;
    height:auto;
    // margin-bottom: 3px;

    img{
        display:block;
        object-fit: cover;
    }
    h6{
        display:inline-block;
        font-size: 0.6em;
        color: #aaa;
        margin-left: 0px; 
    }

}


.frameCardDescription{
    height: 70px;
}

.frameCardButton{
    margin-left: 1em;
    padding: .5em;
    background-color: green;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}

.frameCardInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 1em;
    gap: .5em;

    & > h2{
        margin: 0;
    }
}

.imgserv{
    height: 240px;
    min-width: 400px;
    max-width: 400px;
    object-fit: cover;
    }
.hereLog{
    height: 27px;
    border-radius: 42%;
    
    box-shadow: 0px 15px 10px -15px rgb(247,148,29);
}

@media (max-width: 800px) {
    .frameCard {
        width: 85%;
    }
    .imgserv{
        height:  98%;
    }
}
@media (max-width: 560px) {
    .frameCard {
        width: 85%;
        h3{
            font-size: 1.2em;
        }
        .imgserv{
            width: 90vw;
            height: 150px;
            text-align: center;
        }
    }
    .frameCardLocation{
        margin-left: 7%;
    }
}
@media (max-width: 400px) {
    .frameCard {
        width: 94%;
        p{
            display: none;
        }
    }
    .hereLog{
        height: 27px;
        width: 27;
    }
    .imgserv{
        width: 98%;
    }
}

.moreInfoBtn{
    color: white;
    background-color: rgb(12, 120, 170);
    padding: 0.3rem 1rem;
    border-radius: 10px;
    width: 153px;

    &:hover{
        opacity: 0.8;
    }
}