.container{
    height: 94vh;
    max-width: 1200px;
    padding: 4em 0;

    & > ul {
        width: 100%;
        justify-content: center;
        gap: 3em;
        padding: 1em 0;
        color: #fff;
        font-size: larger;
        display: flex;

        h2{
            text-shadow: 2px 2px 2px black;
        }

        & > h2{
            font-size: 1em;
        }
    }
}
// .serviceContainer{

// 	display: flex;
// 	gap: 1.5rem;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
.menu{
    display: flex;
	gap: 1.5rem;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	nav ul{
		display: flex;
		margin-top: 3em;
		margin-bottom: 2rem;
        li{
            display: flex;
            flex-direction: row;
        }
		li:hover{
            display: flex;
            flex-direction: row;
			cursor: pointer;
			opacity: 0.7;
		}
	}
}
li{
    z-index: -1;
}
